<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CodeMeta overview</title>
	<link rel="stylesheet" crossorigin="anonymous"
		  integrity="sha256-UX1QXFbL3Q8J8D+FaNSZ66h7MsTUB5/2ZgX49wjIX7Y="
		  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.css">
</head>
<body class="container">
<h1>
	CodeMeta overview
</h1>
<section>
	This page gives a succinct overview of all software pages that export to CodeMeta.
	<mark><strong>Warning</strong>: this feature is still in development, so the generated CodeMeta data might still
		change.
	</mark>
</section>
<section>{{range .}}
		<article>
			<header><a href="v3/{{.Slug}}/">{{.BrandName}}</a></header>{{.ShortStatement}}
		</article>{{end}}
</section>
</body>
</html>
