<?xml version="1.0" encoding="UTF-8" ?>

<!--
SPDX-FileCopyrightText: 2024 Ewan Cahen (Netherlands eScience Center) <e.cahen@esciencecenter.nl>
SPDX-FileCopyrightText: 2024 Netherlands eScience Center

SPDX-License-Identifier: Apache-2.0
-->

<!DOCTYPE configuration>

<configuration>
	<import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
	<import class="ch.qos.logback.core.ConsoleAppender"/>

	<appender name="STDOUT" class="ConsoleAppender">
		<encoder class="PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
