# SPDX-FileCopyrightText: 2022 No copyright
#
# SPDX-License-Identifier: CC0-1.0

Ewan Cahen (Netherlands eScience Center) <e.cahen@esciencecenter.nl> ewan-escience <91328544+ewan-escience@users.noreply.github.com>
Ewan Cahen (Netherlands eScience Center) <e.cahen@esciencecenter.nl> Ewan Cahen <e.cahen@esciencecenter.nl>
Jesús García Gonzalez (Netherlands eScience Center) <j.g.gonzalez@esciencecenter.nl> J. Gonzalez <ctw@ctwhome.com>
Jesús García Gonzalez (Netherlands eScience Center) <j.g.gonzalez@esciencecenter.nl> Jesús García <ctw@ctwhome.com>
Norman Ziegner <norman.ziegner@ufz.de> Norman Ziegner <normo157@gmail.com>
Jason Maassen (Netherlands eScience Center) <j.maassen@esciencecenter.nl> Jason Maassen <jmaassen73@gmail.com>
Jason Maassen (Netherlands eScience Center) <j.maassen@esciencecenter.nl> Jason Maassen <J.Maassen@esciencecenter.nl>
Jurriaan Spaaks (Netherlands eScience Center) <j.maassen@esciencecenter.nl> Jurriaan H. Spaaks <j.spaaks@esciencecenter.nl>
