version: "3.0"

services:
  database:
    container_name: database
    build: ./database
    image: rsd/database:0.0.9
    ports:
    # enable connection from outside
      - "5432:5432"
    # expose:
    #   - 5432
    environment:
      POSTGRES_DB: "rsd-db"
      POSTGRES_USER: "rsd"
      POSTGRES_PASSWORD: "securepassword"
    volumes:
      # persist data in named docker volume
      # to remove use: docker-compose down --volumes
      # to inspect use: docker volume ls
      - pgdb:/var/lib/postgresql/data/
    networks:
      - net

  backend:
    container_name: backend
    build: ./backend-postgrest
    image: rsd/backend-postgrest:0.0.1
    # ports:
    #   - "3500:3500"
    expose:
      - 3500
    environment:
      PGRST_DB_URI: "postgres://authenticator:simplepassword@database:5432/rsd-db"
      PGRST_DB_ANON_ROLE: "web_anon"
      PGRST_DB_SCHEMA: "public"
      PGRST_SERVER_PORT: "3500"
    env_file:
      - ./frontend/.env.production.local
    depends_on:
      - "database"
    networks:
      - net

  auth:
    container_name: auth
    build:
      context: .
      dockerfile: ./authentication/dockerfile
    image: rsd/auth:0.0.5
    # ports:
    #   - "7000:7000"
    expose:
      - 7000
    environment:
      PROPERTIES: "/usr/mymaven/.env.production.local"
    depends_on:
      - "database"
      - "backend"
    networks:
      - net

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      # dockerfile to use for build
      dockerfile: Dockerfile
    # update version number to corespond to frontend/package.json
    image: rsd/frontend:0.5.1
    env_file:
      - ./frontend/.env.production.local
    # ports:
    #   - "3000:3000"
    expose:
      - 3000
    depends_on:
      - "database"
      - "backend"
      - "auth"
    networks:
      - net

  nginx:
    container_name: nginx
    build:
      context: ./nginx
    image: rsd/nginx:0.0.2
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - "database"
      - "backend"
      - "auth"
      - "frontend"
    networks:
      - net

  scrapers:
    container_name: scrapers
    build: ./scrapers
    image: rsd/scrapers:0.0.3
    env_file:
      - ./frontend/.env.production.local
    depends_on:
      - "database"
      - "backend"
    networks:
      - net

# define name for docker network
# it should have name: rsd-as-a-service_net
networks:
  net:

# named volumes can be managed easier using docker-compose
# volume should have name rsd-as-a-service_pgdb
volumes:
  pgdb:
