version: "3.0"

services:
  database:
    container_name: database
    build: ./database
    image: rsd/database:0.0.28
    ports:
    # enable connection from outside (development mode)
     - "5432:5432"
    environment:
      # it uses values from .env file
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    volumes:
      # persist data in named docker volume
      # to remove use: docker-compose down --volumes
      # to inspect use: docker volume ls
      - pgdb:/var/lib/postgresql/data/
    networks:
      - net

  backend:
    container_name: backend
    build: ./backend-postgrest
    image: rsd/backend-postgrest:0.0.3
    expose:
      - 3500
    environment:
      # it needs to be here to use values from .env file
      - PGRST_DB_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/rsd-db
      - PGRST_DB_ANON_ROLE
      - PGRST_DB_SCHEMA
      - PGRST_SERVER_PORT
      - PGRST_JWT_SECRET
    depends_on:
      - database
    networks:
      - net

  auth:
    container_name: auth
    build: ./authentication
    image: rsd/auth:0.0.8
    expose:
      - 7000
    environment:
      # it uses values from .env file
      - POSTGREST_URL
      - NEXT_PUBLIC_SURFCONEXT_CLIENT_ID
      - NEXT_PUBLIC_SURFCONEXT_REDIRECT
      - NEXT_PUBLIC_SURFCONEXT_WELL_KNOWN_URL
      - NEXT_PUBLIC_SURFCONEXT_SCOPES
      - NEXT_PUBLIC_HELMHOLTZAAI_CLIENT_ID
      - NEXT_PUBLIC_HELMHOLTZAAI_REDIRECT
      - NEXT_PUBLIC_HELMHOLTZAAI_WELL_KNOWN_URL
      - NEXT_PUBLIC_HELMHOLTZAAI_SCOPES
      - HELMHOLTZAAI_ALLOW_EXTERNAL_USERS
      - AUTH_SURFCONEXT_CLIENT_SECRET
      - AUTH_SURFCONEXT_TOKEN_URL
      - AUTH_HELMHOLTZAAI_CLIENT_SECRET
      - AUTH_HELMHOLTZAAI_TOKEN_URL
      - PGRST_JWT_SECRET
    depends_on:
      - database
      - backend
    networks:
      - net

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      # dockerfile to use for build
      dockerfile: Dockerfile
    # update version number to corespond to frontend/package.json
    image: rsd/frontend:0.7.7
    environment:
      # it uses values from .env file
      - POSTGREST_URL
      - PGRST_JWT_SECRET
      - RSD_AUTH_URL
      - RSD_AUTH_PROVIDERS
      - HOTJAR_ID
      - NEXT_PUBLIC_SURFCONEXT_CLIENT_ID
      - NEXT_PUBLIC_SURFCONEXT_REDIRECT
      - NEXT_PUBLIC_SURFCONEXT_WELL_KNOWN_URL
      - NEXT_PUBLIC_SURFCONEXT_SCOPES
      - NEXT_PUBLIC_SURFCONEXT_RESPONSE_MODE
      - NEXT_PUBLIC_HELMHOLTZAAI_CLIENT_ID
      - NEXT_PUBLIC_HELMHOLTZAAI_REDIRECT
      - NEXT_PUBLIC_HELMHOLTZAAI_WELL_KNOWN_URL
      - NEXT_PUBLIC_HELMHOLTZAAI_SCOPES
      - NEXT_PUBLIC_HELMHOLTZAAI_RESPONSE_MODE
    expose:
      - 3000
    depends_on:
      - database
      - backend
      - auth
    networks:
      - net

  scrapers:
    container_name: scrapers
    build: ./scrapers
    image: rsd/scrapers:0.1.2
    environment:
      # it uses values from .env file
      - POSTGREST_URL
      - PGRST_JWT_SECRET
      - MAX_REQUESTS_GITHUB
      - MAX_REQUESTS_GITLAB
      - API_CREDENTIALS_GITHUB
      - ZENODO_ACCESS_TOKEN
      - ZOTERO_LIBRARY
      - ZOTERO_API_TOKEN
    depends_on:
      - database
      - backend
    networks:
      - net

  nginx:
    container_name: nginx
    build:
      context: ./nginx
    image: rsd/nginx:0.0.2
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - database
      - backend
      - auth
      - frontend
    networks:
      - net

# define name for docker network
# it should have name: rsd-as-a-service_net
networks:
  net:

# named volumes can be managed easier using docker-compose
# volume should have name rsd-as-a-service_pgdb
volumes:
  pgdb:
