version: "3.0"

services:
  database:
    container_name: database
    build: ./database
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: "rsd-db"
      POSTGRES_USER: "rsd"
      POSTGRES_PASSWORD: "securepassword"
    volumes:
      # persist data in named docker volume
      # to remove use: docker-compose down --volumes
      # to inspect use: docker volume ls
      - pgdb:/var/lib/postgresql/data/
    networks:
      - net

  backend:
    container_name: postgREST
    build: ./backend-postgrest
    ports:
      - "3500:3500"
    environment:
      PGRST_DB_URI: "postgres://authenticator:simplepassword@database:5432/rsd-db"
      PGRST_DB_ANON_ROLE: "web_anon"
      PGRST_DB_SCHEMA: "public"
      PGRST_SERVER_PORT: "3500"
    networks:
      - net

  data-migration:
    container_name: data-migration
    build: ./data-migration
    depends_on:
      - "database"
      - "backend"
    network_mode: "host"

  authentication:
    build:
      context: .
      dockerfile: ./authentication/dockerfile
    ports:
      - "7000:7000"
    environment:
      PROPERTIES: "/usr/mymaven/.env.production.local"
    networks:
      - net

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      # dockerfile to use for build
      dockerfile: Dockerfile
    # update version number to corespond to frontend/package.json
    image: rsd/frontend:0.2.0
    env_file:
      # configuration
      - ./frontend/.env.production.local
    ports:
      - "3000:3000"
    depends_on:
      - "database"
      - "backend"
    networks:
      - net

# define name for docker network
# it should have name: rsd-as-a-service_net
networks:
  net:

# named volumes can be managed easier using docker-compose
# volume should have name rsd-as-a-service_pgdb
volumes:
  pgdb:
