# SPDX-FileCopyrightText: 2021 - 2022 Dusan Mijatovic (dv4all)
# SPDX-FileCopyrightText: 2021 - 2023 Ewan Cahen (Netherlands eScience Center) <e.cahen@esciencecenter.nl>
# SPDX-FileCopyrightText: 2021 - 2023 Netherlands eScience Center
# SPDX-FileCopyrightText: 2021 - 2023 dv4all
# SPDX-FileCopyrightText: 2022 Christian Meeßen (GFZ) <christian.meessen@gfz-potsdam.de>
# SPDX-FileCopyrightText: 2022 Helmholtz Centre Potsdam - GFZ German Research Centre for Geosciences
# SPDX-FileCopyrightText: 2022 Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: 2022 Matthias Rüster (GFZ) <matthias.ruester@gfz-potsdam.de>
# SPDX-FileCopyrightText: 2023 Dusan Mijatovic (dv4all) (dv4all)
#
# SPDX-License-Identifier: Apache-2.0

version: "3.0"

services:
  database:
    build: ./database
    image: rsd/database:2.0.1
    ports:
    # enable connection from outside (development mode)
     - "5432:5432"
    environment:
      # it uses values from .env file
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_AUTHENTICATOR_PASSWORD
    volumes:
      # persist data in named docker volume
      # to remove use: docker-compose down --volumes
      # to inspect use: docker volume ls
      - pgdb:/var/lib/postgresql/data/
    networks:
      - net

  backend:
    build: ./backend-postgrest
    image: rsd/backend-postgrest:1.11.2
    expose:
      - 3500
    environment:
      # it needs to be here to use values from .env file
      - PGRST_DB_URI=postgres://rsd_authenticator:${POSTGRES_AUTHENTICATOR_PASSWORD}@${POSTGRES_DB_HOST}:${POSTGRES_DB_HOST_PORT}/${POSTGRES_DB}
      - PGRST_DB_ANON_ROLE
      - PGRST_DB_SCHEMA
      - PGRST_SERVER_PORT
      - PGRST_JWT_SECRET
    depends_on:
      - database
    networks:
      - net

  auth:
    build: ./authentication
    image: rsd/auth:1.2.1
    expose:
      - 7000
    environment:
      # it uses values from .env file
      - POSTGREST_URL
      - RSD_AUTH_PROVIDERS
      - RSD_ADMIN_EMAIL_LIST
      - RSD_AUTH_USER_MAIL_WHITELIST
      - SURFCONEXT_CLIENT_ID
      - SURFCONEXT_REDIRECT
      - SURFCONEXT_WELL_KNOWN_URL
      - SURFCONEXT_SCOPES
      - HELMHOLTZAAI_CLIENT_ID
      - HELMHOLTZAAI_REDIRECT
      - HELMHOLTZAAI_WELL_KNOWN_URL
      - HELMHOLTZAAI_SCOPES
      - ORCID_CLIENT_ID
      - ORCID_REDIRECT
      - ORCID_WELL_KNOWN_URL
      - ORCID_SCOPES
      - HELMHOLTZAAI_ALLOW_EXTERNAL_USERS
      - AUTH_SURFCONEXT_CLIENT_SECRET
      - AUTH_HELMHOLTZAAI_CLIENT_SECRET
      - AUTH_ORCID_CLIENT_SECRET
      - PGRST_JWT_SECRET
    depends_on:
      - database
      - backend
    networks:
      - net

  frontend:
    build:
      context: ./frontend
      # dockerfile to use for build
      dockerfile: Dockerfile
    # update version number to correspond to frontend/package.json
    image: rsd/frontend:1.11.4
    environment:
      # it uses values from .env file
      - POSTGREST_URL
      - PGRST_JWT_SECRET
      - RSD_AUTH_URL
      - RSD_AUTH_PROVIDERS
      - MATOMO_URL
      - MATOMO_ID
      - SURFCONEXT_CLIENT_ID
      - SURFCONEXT_REDIRECT
      - SURFCONEXT_WELL_KNOWN_URL
      - SURFCONEXT_SCOPES
      - SURFCONEXT_RESPONSE_MODE
      - HELMHOLTZAAI_CLIENT_ID
      - HELMHOLTZAAI_REDIRECT
      - HELMHOLTZAAI_WELL_KNOWN_URL
      - HELMHOLTZAAI_SCOPES
      - HELMHOLTZAAI_RESPONSE_MODE
      - ORCID_CLIENT_ID
      - ORCID_REDIRECT
      - ORCID_WELL_KNOWN_URL
      - ORCID_SCOPES
    expose:
      - 3000
    depends_on:
      - database
      - backend
      - auth
    # volumes:
    #   - ./deployment/hmz/styles:/app/public/styles
    #   - ./deployment/hmz/data:/app/public/data
    #   - ./deployment/hmz/images:/app/public/images
    networks:
      - net

  scrapers:
    build: ./scrapers
    image: rsd/scrapers:1.3.1
    environment:
      # it uses values from .env file
      - POSTGREST_URL
      - PGRST_JWT_SECRET
      - MAX_REQUESTS_GITHUB
      - MAX_REQUESTS_GITLAB
      - API_CREDENTIALS_GITHUB
      - ZENODO_ACCESS_TOKEN
      - MAX_REQUESTS_DOI
      - CROSSREF_CONTACT_EMAIL
      - ENABLE_OAIPMH_SCRAPER
    depends_on:
      - database
      - backend
    networks:
      - net

  swagger:
    image: swaggerapi/swagger-ui:v4.15.0
    expose:
      - "8080"
    environment:
      - API_URL=${POSTGREST_URL_EXTERNAL}
      - SUPPORTED_SUBMIT_METHODS=[]
    networks:
      - net

  nginx:
    build:
      context: ./nginx
    image: rsd/nginx:1.1.2
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - database
      - backend
      - auth
      - frontend
      - swagger
    networks:
      - net
    volumes:
      - lets-encrypt:/etc/letsencrypt
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf

  #----------------------------------------------
  # DEVELOPMENT ONLY SERVICES
  #----------------------------------------------
  data-generation:
    build: ./data-generation
    image: rsd/generation:1.2.0
    environment:
      # it needs to be here to use values from .env file
      - PGRST_JWT_SECRET
      - POSTGREST_URL
    depends_on:
      - backend
    networks:
      - net
    deploy:
      replicas: 0

  frontend-dev:
    build:
      context: ./frontend
      # dockerfile to use for build
      dockerfile: Dockerfile.dev
      args:
        - DUID
        - DGID
    # update version number to correspond to frontend/package.json
    image: rsd/frontend-dev:1.11.2
    ports:
      - "3000:3000"
      - "9229:9229"
    environment:
      # it uses values from .env file
      - POSTGREST_URL
      - PGRST_JWT_SECRET
      - RSD_AUTH_URL
      - RSD_AUTH_PROVIDERS
      - MATOMO_URL
      - MATOMO_ID
      - SURFCONEXT_CLIENT_ID
      - SURFCONEXT_REDIRECT
      - SURFCONEXT_WELL_KNOWN_URL
      - SURFCONEXT_SCOPES
      - SURFCONEXT_RESPONSE_MODE
      - HELMHOLTZAAI_CLIENT_ID
      - HELMHOLTZAAI_REDIRECT
      - HELMHOLTZAAI_WELL_KNOWN_URL
      - HELMHOLTZAAI_SCOPES
      - HELMHOLTZAAI_RESPONSE_MODE
    depends_on:
      - database
      - backend
      - auth
    volumes:
      - ./frontend:/app
      # - ./deployment/hmz/styles:/app/public/styles
      # - ./deployment/hmz/data:/app/public/data
      # - ./deployment/hmz/images:/app/public/images
    networks:
      - net
    deploy:
      replicas: 0

# define name for docker network
# it should have name: rsd-as-a-service_net
networks:
  net:

# named volumes can be managed easier using docker-compose
# volume should have name rsd-as-a-service_pgdb
volumes:
  pgdb:
  lets-encrypt:
