# SPDX-FileCopyrightText: 2022 Ewan Cahen (Netherlands eScience Center) <e.cahen@esciencecenter.nl>
# SPDX-FileCopyrightText: 2022 Netherlands eScience Center
#
# SPDX-License-Identifier: Apache-2.0

beautifulsoup4==4.6.0
requests>=2.21.0
python-dateutil==2.6.1
Pyzotero==1.5.2
cffconvert==1.3.3
PyJWT==2.3.0
