/*
 * SPDX-FileCopyrightText: 2023 Dusan Mijatovic (Netherlands eScience Center)
 * SPDX-FileCopyrightText: 2023 Netherlands eScience Center
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
