# SPDX-FileCopyrightText: 2022 Dusan Mijatovic (dv4all)
# SPDX-FileCopyrightText: 2022 dv4all
#
# SPDX-License-Identifier: Apache-2.0

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# docker-compose default .env file
.env
.env.*
!.env.example

hmz
nle
