/* Trying custom components framework */
.rsd-button{
  @apply transition duration-200
  border border-gray-200 text-gray-500
  w-full py-2.5 rounded-lg text-sm
  shadow-sm hover:shadow-md font-normal text-center inline-block;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rsd-button.primary{
}


.btn {
  @apply rounded-none;
}
