<!--
SPDX-FileCopyrightText: 2025 Helmholtz Centre Potsdam - GFZ German Research Centre for Geosciences
SPDX-FileCopyrightText: 2025 Paula Stock (GFZ) <paula.stock@gfz.de>

SPDX-License-Identifier: Apache-2.0
-->

<!doctype html>
<html>
    <head>
        <title>Community Join Request</title>
    </head>
    <body>
        The software <a href="{{SOFTWARE_PAGE_URL}}"><b>{{SOFTWARE_NAME}}</b></a> has requested to join your community <a href="{{COMMUNITY_REQUESTS_URL}}"><b>{{COMMUNITY_NAME}}</b></a>. 
        Log into RSD to approve or reject the request.
    </body>
</html>