# SPDX-FileCopyrightText: 2024 - 2025 Helmholtz Centre Potsdam - GFZ German Research Centre for Geosciences
# SPDX-FileCopyrightText: 2024 - 2025 PERFACCT GmbH
# SPDX-FileCopyrightText: 2025 Paula Stock (GFZ) <paula.stock@gfz.de>
#
# SPDX-License-Identifier: Apache-2.0
# SPDX-License-Identifier: EUPL-1.2

annotated-types==0.7.0
dnspython==2.7.0
email_validator==2.2.0
idna==3.10
pika==1.3.2
pydantic==2.10.3
pydantic_core==2.27.1
typing_extensions==4.12.2
