@tailwind base;
@tailwind components;
@tailwind utilities;

/**
  Default values
**/

body{
  font-size: 1rem;
  font-weight: 300;
}

#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* ---------------------------------
  Tailwind custom classes applied
-----------------------------------*/
/* NOTE!
1. SourceMaps are not working when using @apply
see bug: https://stackoverflow.com/questions/67333479/webpack-shows-incorrect-sourcemaps-when-using-tailwibd-directives

2. you cannot define class with the same name as tailwind utility classes you will get following error::after
error - ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[1]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./styles/global.css
RangeError: Maximum call stack size exceeded

*/

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  a {   
    @apply cursor-pointer no-underline transition duration-100 hover:text-primary
  }

  body{
    @apply text-secondary
  }
}

.secondary-bg{
  @apply bg-secondary text-white;
}

.text-base-100{
  @apply text-white;
}

.primary-link {
  @apply no-underline text-primary hover:text-white;
}

.footer-link {
  @apply text-xl text-primary no-underline hover:text-white;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-700 text-white;
}


/* -------------------------------------
  custom scrollbar
---------------------------------------*/
body{
  box-sizing: border-box;
  /* fix jumping scrollbar */
  overflow: overlay;
  --scrollbar-thumb: #e4e4e7;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
}

/* handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgba(0,0,0,0.25);
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.5);
}

/* --------------------------------------
Format JSON.stringify - FOR TESTING ONLY
----------------------------------------*/
pre {
  border: 1px solid lightgrey;
  padding: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}


/* ---------------------
Tailwind remove max-width for markdown
*/
.prose{
  max-width: none;
}

/* ---------------------
 MARKDOWN EDIT / PREVIEW
 */

#markdown-textarea:focus-visible{
  outline:none;
}

#markdown-textarea:disabled{
  cursor: not-allowed;
}