/*
 * SPDX-FileCopyrightText: 2022 Christian Meeßen (GFZ) <christian.meessen@gfz-potsdam.de>
 * SPDX-FileCopyrightText: 2022 Helmholtz Centre Potsdam - GFZ German Research Centre for Geosciences
 * SPDX-FileCopyrightText: 2022 Marc Hanisch (GFZ) <marc.hanisch@gfz-potsdam.de>
 *
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-License-Identifier: EUPL-1.2
 */

.bg-landing-page {
  background: linear-gradient(rgb(0, 40, 100), 35%, transparent) repeat scroll 0% 0%, rgba(0, 0, 0, 0) url("/images/bg_hifis_rsd.jpg") repeat scroll 0% 0%;
}
header input {
  color: white !important;
  background: rgba(255, 255, 255, 0.25) !important;
  border: none !important;
}
.bg-promote div,
.bg-reference div,
.bg-discover div,
.bg-cite div {
  text-shadow: 0px 0px 5px black, 0px 0px 5px black;
}
.bg-promote {
  background: url("/images/pexels-markus-spiske-4439901_scaled.jpg");
}
.bg-reference {
  background: url("/images/pexels-anna-tarazevich-6412253_scaled.jpg");
}
.bg-discover {
  background: url("/images/pexels-pixabay-247781_scaled.jpg")
}
.bg-cite {
  background: url("/images/pexels-pixabay-159751_scaled.jpg")
}
.hgf-text-highlight {
  background-color: #cdeefb;
}

#hgf-scroll-container {
  display: flex;
  height: 200px;
}

.simplebar-track.simplebar-horizontal {
  height: 7px !important;
  border-bottom: 1px solid #002864;
}

.simplebar-horizontal .simplebar-scrollbar {
  height: 5px !important;
}

.simplebar-horizontal .simplebar-scrollbar::before {
  background-color: #05e5ba !important;
  border-radius: 0px !important;
  opacity: 1 !important;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  left: 0px !important;
  right: 0px !important;
}

.simplebar-vertical {
  display: none !important;
}

#research-fields-container {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  z-index: 1;
}

#research-fields-container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

#research-fields-container #research-fields-list {
  z-index: 3;
}

#research-fields-container .research-field-image {
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#research-fields-container .research-field-image.active {
  opacity: 1;
}

#research-fields-container #research-field-default-background {
  z-index: 1;
  background-image: url("/images/pexels-olena-bohovyk-3646172.jpg");
}

p strong,
p b {
  font-weight: normal !important;
  background-color:#cdeefb;
}
