# SPDX-FileCopyrightText: 2024 Ewan Cahen (Netherlands eScience Center) <e.cahen@esciencecenter.nl>
# SPDX-FileCopyrightText: 2024 Netherlands eScience Center
#
# SPDX-License-Identifier: Apache-2.0

name: codemeta code quality scan and build

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "codemeta/**"
  pull_request:
    paths:
      - "codemeta/**"

jobs:
  codemeta-scan-build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        go-version: [ '1.22.1' ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: "Build application with Go"
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.1'
      - run: |
          go build -v
        working-directory: codemeta
      - name: SonarCloud Scan codemeta
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: codemeta
