# SPDX-FileCopyrightText: 2022 Norman Ziegner <norman.ziegner@ufz.de>
#
# SPDX-License-Identifier: Apache-2.0

name: "REUSE Compliance Check"

on:
  pull_request:
  push:
    branches:
      - "main"
jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
    - uses: "actions/checkout@v2"
    - name: "REUSE Compliance Check"
      uses: "fsfe/reuse-action@v1.1.1"
